<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <app-sidenav-list-item (closeLink)="sidenav.close()"></app-sidenav-list-item>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
        <button mat-icon-button 
                (click)="sidenav.toggle()"
                fxHide.gt-xs>
          <mat-icon>menu</mat-icon>
        </button>

  <span><a [routerLink]="['/']">ngFitness</a></span>

  <nav fxFlex fxLayout="row" fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout fxLayoutGap="20px" class="navigation">
      <li *ngIf="!isLoggedIn"> <a routerLink="signup">Signup</a> </li>
      <li *ngIf="!isLoggedIn"> <a routerLink="signin">Login</a> </li>
      <li *ngIf="isLoggedIn"> <a routerLink="training">Training</a> </li>
      <li *ngIf="isLoggedIn"> <a id="logout" (click)="onLogout()">Logout</a> </li>
    </ul>
  </nav>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
