<mat-nav-list>

  <mat-list-item (click)="onClose()">
    <a routerLink="/signup">
      <mat-icon>face</mat-icon>
      <span class="nav-caption">Signup</span>
    </a>
  </mat-list-item>
  <mat-divider></mat-divider>

  <mat-list-item (click)="onClose()">
    <a routerLink="/signin">
      <mat-icon>account_circle</mat-icon>
      <span class="nav-caption">Login</span>
    </a>
  </mat-list-item>
  <mat-divider></mat-divider>

  <mat-list-item (click)="onClose()">
    <a routerLink="training">
      <mat-icon>fitness_center</mat-icon>
      <span class="nav-caption">Training</span>
    </a>
    </mat-list-item>
  <mat-divider></mat-divider>

  <mat-list-item (click)="onClose()">
    <a href="#">
      <mat-icon>eject</mat-icon>
      <span class="nav-caption">Logout</span>
    </a>
  </mat-list-item>
</mat-nav-list>